/*BODY AND GENERAL RULES*/

:root {
    --primary: hsl(30, 80%, 30%);
    --secondary: hsl(30, 4%, 8%);
    --white: hsl(0, 0%, 98%);
}

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    font-size: 2.2rem;
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Baskervville', sans-serif; */
    background-color: var(--white);
    color: var(--white);
}

/* h1, h2, h3, h4, h5, h6 {
    font-family: 'Aboreto', Verdana, Geneva, Tahoma, sans-serif;
} */

h1 {
    font-size: clamp(3rem, 4.6vw, 6.6rem); 
}

h2 {
    font-size: clamp(2.4rem, 3.6vw, 4rem); 
    padding-block: 2rem;
    text-align: center;
}

h3 {
    font-size: clamp(2rem, 3vw, 3.6rem); 
    padding-block: 1.5rem;
}

h4 {
    font-size: clamp(1.8rem, 2.6vw, 3rem); 
    padding-block: 1rem;
}

section {
    margin-block: 7rem;
}

/* button {
    color: var(--secondary);
    background-color: var(--white);
    transition: all .3s linear;
    border: none;
    border-radius: .4rem;
    padding: .8rem 4rem;
    position: relative;
    cursor: pointer;
    display: block;
    margin-inline: auto;
}

button::before {
    content: '';
    position: absolute;
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    border-radius: .4rem;
    left: -5%;
    top: -20%;
    z-index: -1;
}

button:hover {
    color: var(--white);
    background-color: var(--secondary);
} */

.flex {
    display: flex;
    gap: 2rem;
}

.grid {
    display: grid;
    gap: 2rem;
}

.padding-3 {
    padding: 3rem;
}

.padding-i-4 {
    padding-inline: 4rem;
}

.br-full-radius {
    border-radius: 2rem;
}

.br-half-radius {
    border-radius: 1rem;
}

.txt-center {
    text-align: center;
}

.margin-i-a {
    display: block;
    margin-inline: auto;
}

.primary-bg {
    background-color: var(--primary);
}

.secondary-bg {
    background-color: var(--secondary);
}

/*Navigation Bar*/

nav {
    justify-content: space-between;
    align-items: center;
    padding-right: 4rem;
}

#brand-logo {
    max-height: 6.6rem;
}

#nav-right img,
#nav-links-logo {
    max-height: 4.6rem;
    cursor: pointer;
}

#nav-links {
    align-items: center;
}

#nav-links-logo {
    display: none;
}

/*Hero and Slider*/

#slider {
    align-items: center;
}

#slider-content {
    flex: 1;
    height: calc(100dvh - 10.5rem - 6.6rem);
    background: center / cover no-repeat url('https://images.unsplash.com/photo-1445937888010-cc262f556033?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    place-items: center;
    transform: translateY(-4rem);
}

#slider-content::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    border-radius: 2rem;
    background-color: hsla(0, 0%, 0%, 0.25);
}

#slider-description {
    width: min(700px, 60%);
}

#slider-description p {
    margin-block: 2rem 3rem;
}

.arrow:hover {
    cursor: pointer;
    opacity: .9;
}

#right-arrow {
    transform: rotate(0.5turn);
}

/*About Firm and Product*/

#firm > .flex {
    flex-wrap: wrap;
}

#firm-bio,
#firm-hallmarks {
    flex: 1;
}

#firm-bio {
    align-items: center;
}

#firm-description {
    flex: 1;
}

#firm-img-cont {
    width: 26rem;
    height: 25rem;
}

#firm-bio img {
    border-left: 1rem solid var(--white);
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

#firm-hallmarks {
    justify-content: center;
}

/* .hallmark {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} */

.hallmark p {
    padding-bottom: 2rem;
}

#product-categories {
    margin-top: 4rem;
}

#categories {
    transform: translateY(4rem);
    padding: 8rem;
    flex-wrap: wrap;
    gap: 8rem;
    justify-content: center;
}

.category {
    transform: translateY(8%);
    background-color: var(--white);
    color: var(--secondary);
    width: 26rem;
    height: 26rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.category::before {
    content: '';
    background: center / cover no-repeat url('https://images.unsplash.com/photo-1445937888010-cc262f556033?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position: absolute;
    z-index: 1;
    left: -18%;
    top: -18%;
}

.category a {
    position: absolute;
    top: 45%;
    right: -15%;
    transform: rotate(90deg);
}

/*Projects*/

#firm-projects h2,
#firm-projects p {
    color: var(--secondary);
}

#projects {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
}

.project {
    background-color: var(--secondary);
}

/*Blogs*/



/*Footer*/



/*Navigation Bar*/


/*Media Queries*/

@media (width <= 1100px) {
    #nav-links {
        display: none;
    }

    #nav-links-logo {
        display: block;
    }

    #nav-left {
        align-items: center;
    }
}