/*BODY AND GENERAL RULES*/

@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400&family=Righteous&display=swap');

:root {
    --primary: hsl(30, 80%, 30%);
    --secondary: hsl(30, 4%, 8%);
    --white: hsl(0, 0%, 97%);
}

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    font-size: clamp(1.6rem, 1.8vw, 2rem); 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Aleo', serif;
    background-color: var(--white);
    color: var(--white);
}

h1, h2, h3, h4 {
    font-family: 'Righteous', sans-serif;
    letter-spacing: 0.4rem;
}

h1 {
    font-size: clamp(3.6rem, 4vw, 5.6rem); 
    text-shadow: 2px 2px 4px var(--secondary);
}

h2 {
    font-size: clamp(3rem, 3.4vw, 3.6rem); 
    padding-block: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px var(--secondary);
}

h3 {
    font-size: clamp(2.4rem, 2.6vw, 2.8rem); 
    padding-block: 1rem;
}

h4 {
    font-size: clamp(2rem, 2.4vw, 2.2rem); 
    padding-block: 0.8rem;
}

p {
    opacity: 0.95;
}

a {
    color: var(--primary);
    font-weight: 300;
    text-decoration: none;
}

a:hover {
    font-weight: 400 !important;
}

section:not(#hero) {
    margin-block: 7rem;
}

img {
    max-width: 100%;
}

button:not(#slider button):not(#blogs > button) {
    font-family: inherit;
    font-size: 1.8rem;
    transition: all .4s linear;
    border: none;
    border-radius: .4rem;
    padding: .8rem 3rem;
    cursor: pointer;
    display: block;
    margin-inline: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

nav a,
.project a,
#footer-bar a {
    color: var(--white);
}

.blog button,
#contact button {
    width: 100%;
}

.arrow {
    background-color: hsla(0, 0%, 0%, 0);
    border: none;
}

.arrow:hover {
    cursor: pointer;
    opacity: .9;
}

#slider-right-arrow,
#blog-right-arrow {
    transform: rotate(0.5turn);
}

.flex {
    display: flex;
    gap: 2rem;
}

.grid {
    display: grid;
    gap: 2rem;
}

.padding-3 {
    padding: 3rem;
}

.padding-i-4 {
    padding-inline: 4rem;
}

.br-full-radius {
    border-radius: 2rem;
}

.br-half-radius {
    border-radius: 1rem;
}

.txt-center {
    text-align: center;
}

.primary-bg {
    background-color: var(--primary);
}

.secondary-bg {
    background-color: var(--secondary);
}

.box-shadow {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.6);
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s ease-in-out;
}

.show {
    opacity: 1;
    filter: blur(0);
}

/*Navigation Bar*/


nav {
    transition: all 500ms ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem 1rem 0;

}

nav.sticking {
    background-color: var(--secondary);
    padding: 0 4rem 0 0;

}

#brand-logo {
    max-height: 5.6rem;
}

#nav-right img,
#nav-links-logo {
    max-height: 3.6rem;
    cursor: pointer;
}

#nav-right img:hover {
    opacity: 0.9;
}

#nav-links {
    align-items: center;
}

#nav-links-logo {
    display: none;
}

/*Hero and Slider*/

#slider-content {
    margin-top: 5.6rem;
    height: calc(100dvh - 5rem);
    background: center / cover no-repeat url('https://images.unsplash.com/photo-1445937888010-cc262f556033?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    transition: all 1000ms ease-in-out;
}

#slider-content::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: hsla(0, 0%, 0%, 0.3);
}

#slider-description {
    width: min(700px, 75%);
    transition: all 1000ms ease-in-out;
}

.fade-out {
    opacity: 0 !important;
    filter: blur(5px);
    transform: translateY(25%);
}

#slider-description p {
    margin-block: 2rem 3rem;
}

#hero a {
    font-size: inherit;
    font-weight: 400;
    padding: .8rem 3rem;
    background-color: var(--white);
    color: var(--secondary);
    padding-inline: 15%;
    position: relative;
    transition: all .4s linear;
    border-radius: .4rem;
    cursor: pointer;
}

#hero a::before {
    content: '';
    position: absolute;
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    border-radius: .4rem;
    left: -1rem;
    top: -1rem;
    z-index: -1;
}

#hero a:hover {
    background-color: var(--secondary);
    color: var(--white);
}

#hero p {
    opacity: 1;
}

/*About Firm and Product*/

#firm-and-categories {
    margin-top: 0 !important;
}

#firm > .flex {
    flex-wrap: wrap;
}

#firm-bio,
#firm-description,
#firm-img-cont,
#firm-hallmarks {
    flex: 1;
}

#firm-bio {
    align-items: center;
}

#firm-img-cont,
#firm-description {
    width: 22vw;
}

#firm-img-cont {
    aspect-ratio: 1 / 1;
    max-width: 21rem;
    max-height: 20rem;
}

#firm-bio img {
    display: block;
    border-left: 1rem solid var(--white);
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

#firm-hallmarks {
    justify-content: center;
    min-width: 50%;
}

.hallmark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hallmark p {
    padding-bottom: 2rem;
}

.hallmark img {
    width: min(9.4rem, 10vw);
}


#product-categories {
    margin-top: 4rem;
}

#categories {
    transform: translateY(4rem);
    padding: 8rem;
    flex-wrap: wrap;
    gap: 8rem;
    justify-content: center;
}

.category {
    transform: translateY(8%);
    background-color: var(--white);
    color: var(--secondary);
    width: 26rem;
    height: 26rem;
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.category::before {
    content: '';
    background: center / cover no-repeat url('https://images.unsplash.com/photo-1445937888010-cc262f556033?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position: absolute;
    z-index: 1;
    left: -4.5rem;
    top: -4.5rem;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);

}

.category a {
    position: absolute;
    top: 45%;
    right: -3.6rem;
    transform: rotate(90deg);
}

/*Projects*/

#firm-projects h2,
#firm-projects p {
    color: var(--secondary);
}

#projects {
    margin-top: 3rem;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 20rem;
}

.project {
    border-radius: 1rem;
    padding: 2rem;
    background-color: var(--secondary);
    border-right: 1.4rem solid var(--white);
}

.project-img-cont img {
    border-left: 0.8rem solid var(--white);
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: block;
    aspect-ratio: 1 / 1;
}

.project-description {
    display: grid;
    align-content: center;
}

#projects a {
    color: var(--white);
    font-weight: 300;
}

/*Blogs*/

#blogs {
    align-items: center;
}

.blog button {
    background-color: var(--secondary);
    color: var(--white);
}

.blog button:hover {
    background-color: var(--primary);
}

#blogs p {
    padding-block: 1rem 2rem;
}

.blog {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    color: var(--secondary);
    background-color: var(--white);
    border-radius: 1rem;
}

.blog > * {
    flex: 1;
}

.blog-img-cont img {
    object-fit: cover;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
    display: block;
    aspect-ratio: 1 / 1;
}

.blog-description,
.blog-img-cont {
    min-width: 19vw;
}

.blog-description {
    padding: 2rem;
}

/*Footer*/

footer h4 {
    color: var(--secondary);
}

footer a {
    padding-block: 1rem;
    display: block;
}

footer > .grid {
    width: min(135rem, 95%);
    margin-inline: auto;
    padding-bottom: 4.8rem;
    grid-template-columns: repeat(6, 1fr);
    place-content: start center;
} 

footer > .grid > div:not(#contact) {
    transform: translateY(-1.5rem);
}

#contact {
    aspect-ratio: 1 / 1;
    grid-column: 3 / 5;
    position: relative;
    margin: 2rem;
}

#contact::before {
    content: '';
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position: absolute;
    left: -2rem;
    top: -2rem;
    z-index: -1;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.6);
}

#contact button {
    background-color: var(--white);
    color: var(--secondary);
}

#contact button:hover {
    background-color: var(--primary);
    color: var(--white);
}

.info {
    margin-block: 1rem;
    align-items: center;
}

.info p {
    font-size: 1.7rem;
}

.info img {
    width: 4.8rem;
}

#footer-bar {
    padding-block: 1rem;
    justify-content: space-between;
    position: relative;
}

#footer-bar * {
    font-size: 1.8rem;
}

#footer-left,
#footer-right {
    align-items: center;
}

/*Media Queries*/

@media (width <= 1100px) {
    nav {
        background-color: var(--primary);
    }

    #nav-links {
        display: none;
    }

    #nav-links-logo {
        display: block;
    }

    #nav-left {
        align-items: center;
    }

    #projects {
        grid-template-columns: 1fr;
    }

    .blog-img-cont img {
        border-radius: 1rem 1rem 0 0;
    }

    footer > .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #contact {
        grid-row: 1 / span 2;
        grid-column: initial;
    }
}

@media (width <= 845px) {
    html {
        font-size: 9px;
    }

    .category {
        width: 20rem;
        height: 20rem;
    }

    .category::before {
        left: -3.5rem;
        top: -3.5rem;
    }
}

@media (width <= 660px) {
    html {
        font-size: 7.5px;
    }

    .padding-i-4 {
        padding-inline: 2rem;
    }

    .padding-3 {
        padding-inline: 1.5rem;
    }

    #nav-right img,
    #nav-links-logo {
        max-height: 3.6rem;
    }

    #slider-content {
        height: calc(77dvh - 7rem - 6.6rem);
    }

    #projects {
        grid-auto-rows: 15rem;
    }

    #nav-right {
        display: none;
    }

    #nav-left {
        width: 100%;
        justify-content: space-between;
    }

    .arrow,
    #scroll {
        width: 4.2rem;
    }
}

@media (width <= 510px  ) {
    .category {
        width: 100%;
    }

    #footer-right,
    #footer-left {
        display: block;
    }

    footer > .grid {
        display: flex;
        flex-wrap: wrap;
    }

    #firm-img-cont {
        min-width: 40%;
    }

    .blog:first-of-type {
        display: none;
    }

    .blog {
        display: block;
    }
}